@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cor-verde-agua: #348888;
  --cor-laranja: #FA7F08;
  --cor-escuro: #2d2d2d;
  --cor-cinza: #707070;
  --cor-vermelho: #F24405;
  --cor-ciano: #22BABB;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* tailwind theme */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* base */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}