:root {
    --cor-verde-agua: #348888;
    --cor-verde-agua-claro: #d5f1ef;
    --cor-laranja: #FA7F08;
    --cor-escuro: #2d2d2d;
    --cor-cinza: #707070;
    --cor-branco: #ffffff;
    --cor-vermelho: #F24405;
    --cor-verde-petroleo: #348888; 
    --cor-ciano-medio: #22BABB; 
    --cor-ciano-claro:#9EF8EE; 
    --cor-laranja-vibrante: #FA7F08; 
    --cor-laranja-avermelhado: #f24405;         
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-branco);
}

/* Estillo botões  */
.btn-custom {
    color: white !important;
    font-weight: bold;
    filter: drop-shadow(3px 3px 3px #5c5c5c);
    background-color: var(--cor-laranja);
    margin: 10px;
    padding: 12px 25px;
    border-radius: 10px;
    border: none !important;
    transition: all 0.3s;
}

/* Tira a borda azul do boot*/
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--cor-laranja);
}

.btn-custom:hover {
    background-color: var(--cor-vermelho) !important;
    color: white !important;
    transform: scale(1.02);
    box-shadow: none !important;
}

.btn-custom:hover {
    background-color: var(--cor-vermelho) !important;
    color: white !important;
    transform: scale(1.02);
}

/* Classes cores dos botões */
.botao-cancelar {
    background-color: var(--cor-cinza) !important;
}

.botao-salvar {
    background-color: var(--cor-laranja) !important;
}

/* Título HTML */
.tituloFormulario {
    color: var(--cor-verde-agua);
    font-weight: bold;
    text-align: center;
}