.mainAdmLayout {
  display: flex;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 20px;
  width: 100%;
  flex: 1;
  gap: 30px;
}

.menuAdmContainer {
  width: 300px;
  background-color: var(--cor-branco);
  box-shadow: 0 4px 15px rgba(52, 136, 136, 0.1);
  border-radius: 18px;
  padding: 30px;
  height: fit-content;
  position: relative;
  border: 1px solid rgba(52, 136, 136, 0.1);
}

.menuTopo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.menuTitulo {
  font-size: 1.8em;
  font-weight: 800;
  color: var(--cor-verde-agua);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--cor-verde-agua-claro);
  padding-bottom: 15px;
}

.menuLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuLinks li {
  padding: 8px 0;
}

.menuLinks a {
  font-size: 1.05em;
  color: var(--cor-escuro);
  transition: all 0.2s;
  display: block;
  font-weight: 550;
  text-decoration: none;
}

.menuLinks .sectionHeader a {
  font-weight: 800;
  color: var(--cor-verde-agua);
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 15px;
}

.menuLinks li:not(.sectionHeader) a {
  padding-left: 15px;
  border-left: 3px solid transparent;
}

.menuLinks li:not(.sectionHeader) a:hover {
  color: var(--cor-laranja);
  border-left-color: var(--cor-laranja);
  padding-left: 20px;
}

.conteudoAdm {
  flex: 1;
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(52, 136, 136, 0.05);
  min-height: 500px;
}

.textoInformativo {
  color: var(--cor-cinza);
  text-align: center;
  margin-top: 100px;
}